name: 使用抱脸SDK创建Uptime-Kuma监控

on:
  repository_dispatch:
  workflow_dispatch:
    inputs:
      HF_TOKEN:
        description: '抱脸Token'
        required: true
      IMAGE:
        description: '镜像地址'
        required: true
      HF_SPACE_NAME:
        description: '空间名'
        required: false
        default: 'uk'
      GITHUB_REPO:
        description: '备份仓库'
        required: true
      GITHUB_TOKEN:
        description: 'GitHub令牌'
        required: true
      GITHUB_BRANCH:
        description: '备份分支'
        required: false
        default: 'main'
      BACKUP_HOUR:
        description: '备份时间'
        required: false
        default: '4'
      KEEP_BACKUPS:
        description: '保留数量'
        required: false
        default: '5'
      BACKUP_PASS:
        description: '备份密码'
        required: false
        default: ''
      CF_TUNNEL_TOKEN:
        description: 'CF隧道令牌'
        required: false
        default: ''

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    
    steps:
      - name: 检出代码
        uses: actions/checkout@v4

      - name: 隐藏敏感信息
        uses: levibostian/action-hide-sensitive-inputs@v1

      - name: 设置环境
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: 安装依赖
        run: pip install huggingface_hub -q

      - name: 执行任务
        run: |
          python scripts/Uptime-Kuma-API.py \
            --hf_token="${{ github.event.inputs.HF_TOKEN }}" \
            --image="${{ github.event.inputs.IMAGE }}" \
            --hf_space_name="${{ github.event.inputs.HF_SPACE_NAME }}" \
            --github_repo="${{ github.event.inputs.GITHUB_REPO }}" \
            --github_token="${{ github.event.inputs.GITHUB_TOKEN }}" \
            --github_branch="${{ github.event.inputs.GITHUB_BRANCH }}" \
            --backup_hour="${{ github.event.inputs.BACKUP_HOUR }}" \
            --keep_backups="${{ github.event.inputs.KEEP_BACKUPS }}" \
            --backup_pass="${{ github.event.inputs.BACKUP_PASS }}" \
            --cf_tunnel_token="${{ github.event.inputs.CF_TUNNEL_TOKEN }}"

      - name: 清理记录
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          delete_workflow_pattern: ${{ github.workflow }}
          retain_days: 0
          keep_minimum_runs: 3
